.homeSectionItem {
    align-items: center;
}

.homeSectionItem-hidden {
    opacity: 0.5;
}

.homeSectionItem .listItemBody::after {
    color: var(--theme-primary-color);
    content: '';
    font-size: 0.8em;
    margin-left: 0.75em;
}

.homeSectionItem-hidden .listItemBody::after {
    content: 'Hidden';
}

.homeSectionDragHandle {
    cursor: grab;
    margin: 0 0.5em;
}

.homeSectionItem-dragging {
    opacity: 0.3;
}

.homeSectionItem-dropBefore,
.homeSectionItem-dropAfter {
    position: relative;
}

.homeSectionItem-dropBefore::before,
.homeSectionItem-dropAfter::after {
    background: var(--theme-primary-color);
    border-radius: 999px;
    content: '';
    height: 3px;
    left: 0.5em;
    position: absolute;
    right: 0.5em;
    z-index: 1;
}

.homeSectionItem-dropBefore::before {
    top: -2px;
}

.homeSectionItem-dropAfter::after {
    bottom: -2px;
}

.homeSectionInsertionLine {
    border-top: 1px solid var(--theme-accent-fill-color);
    color: var(--theme-primary-color);
    font-size: 0.9em;
    margin: 0.75em 0;
    padding-top: 0.75em;
}
